/*----Site color scheme----*/

// color palette for space theme


$color-1: #f26419; // Dark orange
$color-2: #33658a; // Medium gray blue
$color-3: #86bbd8; // Light blue
$color-4: #f6ae2d; // Light orange
$color-5: #2f4858; // Dark gray blue
$color-6: white;



