@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;600&family=Krub&display=swap");

$primary-font: "Koho", sans-serif;
$secondary-font: "Krub", sans-serif;
$border: $color-4 2px solid;
$border-radius: 30px 0 30px 0;

h1,
h2 {
  font-family: $primary-font;
  color: $color-2;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
  border: $border;
  border-radius: $border-radius;
  padding: 1em;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
h3 {
  font-family: $primary-font;
}

p {
  font-family: $secondary-font;
  font-size: 1rem;
  line-height: 1.4;
  color: lighten($color-2, 70%);
}
a {
  color: $color-1;
  text-decoration: none;
  font-family: $primary-font;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0.5em;
}
